<h1 class="mt-5">{{ nameAction }}</h1>
<form class="row mt-2 g-3" [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">

    <div class="col-md-6">
        <label for="invoice_number" class="form-label">Número de factura</label>
        <div class="form-value">{{ invoiceForm.get('invoice_number')?.value }}</div>
        <input type="hidden" class="form-control" id="invoice_number" name="invoice_number" formControlName="invoice_number" >
    </div>
    <div class="col-md-6">
    </div>

    <div class="col-md-6">
        <label for="sender_name" class="form-label">Nombre del emisor </label>
        <input type="text" class="form-control" id="sender_name" name="sender_name" formControlName="sender_name">
    </div>
    <div class="col-md-6">
        <label for="sender_nit" class="form-label">Nit del emisor </label>
        <input type="number" class="form-control" id="sender_nit" name="sender_nit" formControlName="sender_nit">
    </div>

    <div class="col-md-6">
        <label for="receiver_name" class="form-label">Nombre del comprador </label>
        <input type="text" class="form-control" id="receiver_name" name="receiver_name" formControlName="receiver_name">
    </div>
    <div class="col-md-6">
        <label for="receiver_nit" class="form-label">Nit del comprador </label>
        <input type="number" class="form-control" id="receiver_nit"  name="receiver_nit" formControlName="receiver_nit">
    </div>

    <div class="col-md-4">
        <label for="amount" class="form-label"> Valor antes de IVA</label>
        <input type="number" class="form-control" id="amount" name="amount" formControlName="amount" [attr.disabled]="true">
    </div>
    <div class="col-md-4">
        <label for="iva" class="form-label">IVA</label>
        <input type="number" class="form-control" id="iva" name="iva" formControlName="iva">
    </div>
    <div class="col-md-4">
        <label for="total" class="form-label">Valor a pagar</label>
        <input type="number" class="form-control" id="total" name="total" formControlName="total" [attr.disabled]="true">
    </div>

    <button type="submit" class="btn btn-primary mt-4 m-1">Guardar</button>

    
    <ng-template [ngIf]="activeProducts">
        <h2 class="mt-5">Lista de productos</h2>

        <div class="row g-3">
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                <div class="form-value m-2">Audifonos</div>
            </div>
            <div class="col-md-1">
                <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Valor Unitario</label>
                <div class="form-value m-2">40000</div>
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Valor Total</label>
                <div class="form-value m-2">240000</div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary mt-4 m-1">Agregar</button>
                <button type="button" class="btn btn-danger mt-4 m-1">Quitar</button>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                <div class="form-value m-2">Audifonos</div>
            </div>
            <div class="col-md-1">
                <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Valor Unitario</label>
                <div class="form-value m-2">40000</div>
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Valor Total</label>
                <div class="form-value m-2">240000</div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary mt-4 m-1">Agregar</button>
                <button type="button" class="btn btn-danger mt-4 m-1">Quitar</button>
            </div>
        </div>
    </ng-template>

</form>